asgiref==3.11.1
cffi==2.0.0
colorclass==2.2.2
cryptography==49.0.0
defusedxml==0.7.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
easygui==0.98.3
et_xmlfile==2.0.0
lxml==6.1.1
msoffcrypto-tool==6.0.0
odfpy==1.4.1
olefile==0.47
oletools==0.60.2
openpyxl==3.1.5
pcodedmp==1.2.6
pycparser==3.0
PyMuPDF==1.27.2.3
pyparsing==3.3.2
python-docx==1.2.0
python-dotenv==1.2.2
python-magic==0.4.27
sqlparse==0.5.5
striprtf==0.0.32
typing_extensions==4.15.0
tzdata==2026.2
win_unicode_console==0.5
